/*VARIABLES GLOBALES MODO OSCURO / GRAPE*/
:root {
 --color-primary: #0f0f12;  /* Fondo principal oscuro */
 --color-card: #18181c; /* Fondo de tarjetas*/
 --text-primary: #f0f0f5; /* Texto principal claro */
 --text-secondary: #9a9ab0; /* Texto secundario o descripciones */
 
 --brand-accent:#8a2be2;    /* Violeta/Grape tecnologico para acentos */
 --brand-hover: #9d4edd;    /* Tono mas claro para estados hover */
 --border-color: #272730;   /* Bordes minimalistas */
/* Espaciados y Bordes */
 --radius-sm: 6px;
 --radius-md: 12px;
 --space-gap: 1.5rem;
}

/* Requisito clave del taller | Barra y Flexboxs (Inicio, servicios, nosotros, contacto) */  
.navbar {
  display: flex; 
  justify-content: space-between; /* Separa el logo a la izquierda y enlaces a la derecha */
  align-content: center;
  align-items: center;

  padding: 5px 5px; /* Alto y ancho de la barra */
  background-color: #eb8908;
}

/* Estilos para el titulo - logo */
.logo {
    color: var(--text-primary);
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
    line-height: 1.6;
}

/* Estilos para los enlaces de navegación */
.nav-links {
  display: flex;
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  font-size: 1.5rem;
  gap: 30px;      /* Espacio horizontal entre los enlaces */
}

.nav-links a:hover {
  color: var(--brand-hover);    /* Cambia el color al pasar el mouse */
}

.user-sesion {
    color: var(--text-primary);
    font-weight: bold;
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;

}

.center-ID{
  text-align: center;
  align-content: center;
  align-items: center;
}


